html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

th, td {
    font-size: 13px;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

    ul li {
        padding: 8px;
        margin-bottom: 5px;
        border-radius: 5px;
    }

.form-field {
    max-width: 50px; /* Установите максимальную ширину полей */
}
a {
    text-decoration: none;
}
.btn-rounded {
    border-radius: 19px;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 3px;
}
.custom-font-size {
    font-size: 12px; /* Установите желаемый размер шрифта */
}