@model Study.Models.DisciplineType

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Детали</h1>

<div>
    <h4>Тип дисциплины</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TypeOfDiscipline)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TypeOfDiscipline)
        </dd>
    </dl>
</div>
<div>
    @if (User.IsInRole("admin"))
    {
        <a class="link-warning" asp-action="Edit" asp-route-id="@Model?.DisciplineTypeId">Обновить</a>
    }
    <a asp-action="Index">Вернуться к списку</a>
</div>
