@model DisciplineType

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Обновить</h1>

<h4>Тип дисциплины</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="DisciplineTypeId" />
            <div class="form-group">
                <label asp-for="TypeOfDiscipline" class="control-label"></label>
                <input asp-for="TypeOfDiscipline" class="form-control" />
                <span asp-validation-for="TypeOfDiscipline" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input class="btn btn-outline-warning" type="submit" value="Save"  />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Вернуться к списку</a>
</div>

