@model Lesson

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Добавить</h1>

<h4>Урок</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="DisciplineId" class="control-label"></label>
                <select asp-for="DisciplineId" class ="form-control" asp-items="ViewBag.DisciplineId"></select>
            </div>
            <div class="form-group">
                <label asp-for="ClassroomId" class="control-label"></label>
                <select asp-for="ClassroomId" class ="form-control" asp-items="ViewBag.ClassroomId"></select>
            </div>
            <div class="form-group">
                <label asp-for="DisciplineTypeId" class="control-label"></label>
                <select asp-for="DisciplineTypeId" class ="form-control" asp-items="ViewBag.DisciplineTypeId"></select>
            </div>
            <div class="form-group">
                <label asp-for="TeacherId" class="control-label"></label>
                <select asp-for="TeacherId" class ="form-control" asp-items="ViewBag.TeacherId"></select>
            </div>
            <div class="form-group">
                <label asp-for="StudentsGroupId" class="control-label"></label>
                <select asp-for="StudentsGroupId" class ="form-control" asp-items="ViewBag.StudentsGroupId"></select>
            </div>
            <div class="form-group">
                <label asp-for="Semestr" class="control-label"></label>
                <input asp-for="Semestr" class="form-control" />
                <span asp-validation-for="Semestr" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LessonDate" class="control-label"></label>
                <input asp-for="LessonDate" class="form-control" />
                <span asp-validation-for="LessonDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LessonTimeId" class="control-label"></label>
                <select asp-for="LessonTimeId" class ="form-control" asp-items="ViewBag.LessonTimeId"></select>
            </div>
            <div class="form-group">
                <input asp-for="Year" type="hidden" class="form-control" />
                <span asp-validation-for="Year" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input asp-for="DayOfweek" type="hidden" class="form-control" />
                <span asp-validation-for="DayOfweek" class="text-danger"></span>

            </div>
            <div class="form-group">
                <input class="btn btn-outline-success" type="submit" value="Create"/>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Вернуться к списку</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
