@model IEnumerable<Microsoft.AspNetCore.Identity.IdentityUser>
@inject Microsoft.AspNetCore.Identity.UserManager<Microsoft.AspNetCore.Identity.IdentityUser> UserManager

<h2>Список пользователей</h2>
<table class="table">
    @foreach (var user in Model)
    {
        <tr>
            <td>@user.Email</td>
            @if (!UserManager.IsInRoleAsync(user, "admin").Result)
            {
                <td>

                <a class="btn btn-sm btn-primary" asp-action="Edit" asp-route-userid="@user.Id">Права доступа</a>
            </td>
            }
        </tr>
    }
</table>